*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    list-style: none;   
}

body{
    background-image: linear-gradient(#35C6CA, #357BCA, #35CA84);
    background-size: cover;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 35px 12%;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 25px;
    color: white;
    font-weight: 600;
    transition: 0.3s ease;
}

.navbar a{
    font-size: 18px;
    color: white;
    font-weight: 500;
    margin: 0 20px;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}

.contact{
    padding: 10px 28px;
    background-color: white;
    color: black;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
}

.home{
    width: 100%;
    min-height: 100vh;
    /* background: rgb(139, 198, 233);*/ 
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 10px 12px 0px;
}

.home-page{
    max-width: 800px;
}

.home-page h3{
    font-size: 50px;
}

.home-page-projects h2{
    font-size: 40px;
}

.home-page h1{
    font-size: 70px;
    line-height: 1.2;
}

.home-page p{
    font-size: 22px;
    margin: 25px 0 30px;
}

.btn-box{
    width: 345px;
    display: flex;
    gap: 2em;
}

.btn1{
    padding: 15px 28px;
    background-color:black;
    color: white;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
}

.img-box_main-page{
    border-radius: 50px;
}

.hbox {
    border: 5px solid black;
    box-shadow: 5px 10px rgb(75, 152, 197);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    column-width: 100%;
    place-content: space-between;
    padding: 50px 90px 50px 50px;
    margin-right: 10px;
}

.pdesc{
    font-size: 22px;
}

.img{
    height: 400px;
}